* {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
.mychart-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.isFull_default {
  background: url('https://img.alicdn.com/imgextra/i1/O1CN01uVpZCF1V30vM3BxGI_!!6000000002596-2-tps-200-200.png') no-repeat -9999px -9999px;
}
.isShinkage_default {
  background: url('https://img.alicdn.com/imgextra/i4/O1CN01WjTtjv1xCuj5ZiLyZ_!!6000000006408-2-tps-200-200.png') no-repeat -9999px -9999px;
}
.isFull_default_hover {
  background: url('https://img.alicdn.com/imgextra/i3/O1CN01PPeB6j1pA9PUu5aL3_!!6000000005319-2-tps-200-200.png') no-repeat -9999px -9999px;
}
.isShinkage_default_hover {
  background: url('https://img.alicdn.com/imgextra/i3/O1CN01vgzs4g1xQCDGIka2M_!!6000000006437-2-tps-200-200.png') no-repeat -9999px -9999px;
}
.show-table-btn-hover {
  background: url('https://img.alicdn.com/imgextra/i3/O1CN01Vv3qX51fJdSDodJEu_!!6000000003986-2-tps-200-200.png') no-repeat -9999px -9999px;
}
.show-table-closed-hover {
  background: url('https://img.alicdn.com/imgextra/i3/O1CN01zPPcfa1kWWgHXPalo_!!6000000004691-2-tps-200-200.png') no-repeat -9999px -9999px;
}
.ul-list {
  position: absolute;
  top: 82px;
  left: 338px;
  z-index: 1000;
  width: 174px;
  height: 24px;
  background-color: #3c3f58;
  border-radius: 12px;
  overflow: hidden;
}
.ul-list.isfull {
  top: 30px;
  left: 30px;
}
.ul-list li {
  float: left;
  height: 24px;
  line-height: 24px;
  font-size: 12px; 
  background-color: #3c3f58;
  color: #fff;
  opacity: 0.6;
  text-align: center;
  cursor: pointer;
}
.ul-list li:first-child {
  width: 58px;
  border-radius: 12px;
}
.ul-list li:first-child.current {
  width: 62px;
}
 .ul-list li:last-child {
  width: 106px;
  margin-left: 4px;
  border-radius: 12px; 
}
.ul-list li:last-child.current {
  width: 114px;
  margin-right: 2px;
  margin-left: 0;
}
.ul-list li.current {
  background-color: #0b7f6c;
  opacity: 1;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-top: 2px;
  margin-left: 2px;
}
.wrapMap {
  position: relative;
  margin-top: -50px;
}
.wrapMap.current {
  margin-top: 0;
}

.tool-tip {
  width: 100%;
  overflow: hidden;
}
.tool-tip .title {
  padding-left: 10px;
  overflow: hidden;
}
.tool-tip .title::before {
  display: inline-block;
  width: 3px;
  height: 10px;
  content: '';
  margin-right: 4px;
  background-color: #54edee;
}
.tool-tip .title span {
  font-size: 16px;
  color: #fff;
}
.tool-tip .t-content {
  margin-top: 12px;
  margin-left: 24px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.65);
}
.tool-tip .t-content div {
  line-height: 24px;
}
.tool-tip .t-content .desc {
  display: inline-block;
  width: 94px;
  text-align: right;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.85);
}
.tool-tip .t-content i {
  display: inline-block;
  font-style: normal;
  font-size: 20px;
  color: #e28e10;
  padding-right: 3px;
}
.show-table {
  position: absolute; 
  top: 120px;
  left: 338px;
  width: 251px;
  height: 198px;
  background: rgba(27, 28, 33, 0.75);
  border-radius: 4px;
  z-index: 1000;
}
.show-table.isfull {
  left: 30px;
  top: 70px; 
  width: 331px;
  height: 278px;
}
.show-table .closed {
  background: url('https://img.alicdn.com/imgextra/i1/O1CN01wYzGEZ1Hsr8MGOeXh_!!6000000000814-2-tps-200-200.png') no-repeat center 0;
  width: 18px;
  height: 18px;
  background-size: 18px;
  float: right;
  margin: 6px 6px 0 0;
  cursor: pointer;
}
.show-table .closed:hover {
  background: url('https://img.alicdn.com/imgextra/i3/O1CN01zPPcfa1kWWgHXPalo_!!6000000004691-2-tps-200-200.png') no-repeat center 0;
  width: 18px;
  height: 18px;
  background-size: 18px;
}
.show-table .table-content {
  position: relative;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.show-table .msg1, .show-table .msg2 {
  position: absolute;
  top: 26px;
  left: 27px;
  font-size: 12px;
  color: rgba(255,255,255,0.65);
}
.show-table  .msg2 {
  top: 174px;
  left: 64px;
}
.show-table  .msg2.isfull {
  top: 254px;
}
.show-table.none {
  display: none;
}
.show-table-btn {
  position: absolute;
  top: 122px;
  left: 338px;
  background: url('https://img.alicdn.com/imgextra/i4/O1CN01dvy9jq1ulJczudkWy_!!6000000006077-2-tps-200-200.png') no-repeat center 0;
  width: 18px;
  height: 18px;
  background-size: 18px;
  z-index: 10;
  cursor: pointer;
}
.show-table-btn:hover {
  background: url('https://img.alicdn.com/imgextra/i3/O1CN01Vv3qX51fJdSDodJEu_!!6000000003986-2-tps-200-200.png') no-repeat center 0;
  width: 18px;
  height: 18px;
  background-size: 18px;
}
.show-table-btn.isfull {
  left: 30px;
  top: 75px;
}
.show-table-btn.none {
  display: none;
}

.showChart {
  display: block !important;
}


.slideInLeft {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: .35s;
  animation-duration: .35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-timing-function: cubic-bezier(.4,0,.2,1);
  animation-timing-function: cubic-bezier(.4,0,.2,1)
}

.slideInLeft,.slideInRight {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.slideInRight {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: .35s;
  animation-duration: .35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-timing-function: cubic-bezier(.4,0,.2,1);
  animation-timing-function: cubic-bezier(.4,0,.2,1)
}

/* css 动画 */
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.south-sea {
  position: absolute;
  bottom: 353px;
  right: 366px;
  background: url('https://img.alicdn.com/imgextra/i3/O1CN01xqQYVo22FGqLc3NCF_!!6000000007090-2-tps-68-98.png') no-repeat center 0;
  width: 68px;
  height: 98px;
  z-index: 1000;
}
.south-sea.current {
  bottom: 403px;
}
.south-sea.isfull {
  bottom: 20px;
  right: 20px;
}


.next-drawer-left {
  left: 338px !important;
  width: 300px !important; 
  height: 198px !important;
  top: 158px !important;
  border: 1px solid #1b1c21 !important;
  background: #1b1c21 !important;
}

.alert-pos {
  position: absolute;
  display: none;
}

.alert-pos.isFixed {
  position: absolute;
  display: block;
  border-style: solid;
  white-space: nowrap;
  will-change: transform;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px;
  background: rgba(27, 28, 33, 0.85);
  border-width: 1px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font: 14px / 21px sans-serif;
  padding: 10px;
  top: 0px;
  left: 0px;
  border-color: rgb(27, 28, 33);
  z-index: 100000;
  pointer-events: auto;
}